:root {
  --background: ;
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
td:not([align]),
th:not([align]) {
  text-align: left;
}

.container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 576px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 960px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1152px) {
  .container {
    max-width: 1152px;
  }
}
@media screen and (min-width: 1344px) {
  .container {
    max-width: 1344px;
  }
}
.container.is-fluid {
  max-width: none;
}

.flex {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  margin-top: -0.5rem;
}
.flex:last-child {
  margin-bottom: -0.5rem;
}
.flex:not(:last-child) {
  margin-bottom: calc(1.5rem - 0.5rem);
}
.flex.no-wrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.flex.is-centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flex.is-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.flex.is-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 576px) {
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.flex > .col {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  padding: 0.5rem;
}
.flex > .col.is- > .col.is-narrow {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.flex > .col.is-full {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: calc(1 / 1 * 100%);
}
.flex > .col.col.is-offset-full {
  margin-left: calc(1 / 1 * 100%);
}
.flex > .col.is-half {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: calc(1 / 2 * 100%);
}
.flex > .col.col.is-offset-half {
  margin-left: calc(1 / 2 * 100%);
}
.flex > .col.is-one-third {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: calc(1 / 3 * 100%);
}
.flex > .col.col.is-offset-one-third {
  margin-left: calc(1 / 3 * 100%);
}
.flex > .col.is-two-thirds {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: calc(2 / 3 * 100%);
}
.flex > .col.col.is-offset-two-thirds {
  margin-left: calc(2 / 3 * 100%);
}
.flex > .col.is-one-quarter {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: calc(1 / 4 * 100%);
}
.flex > .col.col.is-offset-one-quarter {
  margin-left: calc(1 / 4 * 100%);
}
.flex > .col.is-three-quarters {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: calc(3 / 4 * 100%);
}
.flex > .col.col.is-offset-three-quarters {
  margin-left: calc(3 / 4 * 100%);
}
.flex > .col.is-one-fifth {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: calc(1 / 5 * 100%);
}
.flex > .col.col.is-offset-one-fifth {
  margin-left: calc(1 / 5 * 100%);
}
.flex > .col.is-two-fifths {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: calc(2 / 5 * 100%);
}
.flex > .col.col.is-offset-two-fifths {
  margin-left: calc(2 / 5 * 100%);
}
.flex > .col.is-three-fifths {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: calc(3 / 5 * 100%);
}
.flex > .col.col.is-offset-three-fifths {
  margin-left: calc(3 / 5 * 100%);
}
.flex > .col.is-four-fifths {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: calc(4 / 5 * 100%);
}
.flex > .col.col.is-offset-four-fifths {
  margin-left: calc(4 / 5 * 100%);
}
.flex > .col.is-1 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: calc(1 / 12 * 100%);
}
.flex > .col.is-offset-1 {
  margin-left: calc(1 / 12 * 100%);
}
.flex > .col.is-2 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: calc(2 / 12 * 100%);
}
.flex > .col.is-offset-2 {
  margin-left: calc(2 / 12 * 100%);
}
.flex > .col.is-3 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: calc(3 / 12 * 100%);
}
.flex > .col.is-offset-3 {
  margin-left: calc(3 / 12 * 100%);
}
.flex > .col.is-4 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: calc(4 / 12 * 100%);
}
.flex > .col.is-offset-4 {
  margin-left: calc(4 / 12 * 100%);
}
.flex > .col.is-5 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: calc(5 / 12 * 100%);
}
.flex > .col.is-offset-5 {
  margin-left: calc(5 / 12 * 100%);
}
.flex > .col.is-6 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: calc(6 / 12 * 100%);
}
.flex > .col.is-offset-6 {
  margin-left: calc(6 / 12 * 100%);
}
.flex > .col.is-7 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: calc(7 / 12 * 100%);
}
.flex > .col.is-offset-7 {
  margin-left: calc(7 / 12 * 100%);
}
.flex > .col.is-8 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: calc(8 / 12 * 100%);
}
.flex > .col.is-offset-8 {
  margin-left: calc(8 / 12 * 100%);
}
.flex > .col.is-9 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: calc(9 / 12 * 100%);
}
.flex > .col.is-offset-9 {
  margin-left: calc(9 / 12 * 100%);
}
.flex > .col.is-10 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: calc(10 / 12 * 100%);
}
.flex > .col.is-offset-10 {
  margin-left: calc(10 / 12 * 100%);
}
.flex > .col.is-11 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: calc(11 / 12 * 100%);
}
.flex > .col.is-offset-11 {
  margin-left: calc(11 / 12 * 100%);
}
.flex > .col.is-12 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: calc(12 / 12 * 100%);
}
.flex > .col.is-offset-12 {
  margin-left: calc(12 / 12 * 100%);
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  color: #27282B;
}

body, button, input, select, textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  color: #27282B;
  cursor: pointer;
  text-decoration: underline;
}
a:hover {
  color: #27282B;
}

.title {
  font-size: 2.5rem;
  font-weight: 800;
}

.subtitle {
  font-size: 1.75rem;
}

.table {
  vertical-align: top;
}
.table td, .table th {
  padding: 0.5rem;
}

.content p:not(:last-child),
.content dl:not(:last-child),
.content ol:not(:last-child),
.content ul:not(:last-child),
.content blockquote:not(:last-child),
.content pre:not(:last-child),
.content table:not(:last-child) {
  margin-bottom: 1em;
}
.content ol, .content ul {
  list-style-position: outside;
  margin-left: 2rem;
}
.content ul {
  list-style-type: disc;
}
.content ul ul {
  list-style-type: circle;
}
.content ul ul ul {
  list-style-type: square;
}

.card {
  background: #FFF;
  color: #27282B;
  padding: 1rem;
  border-radius: 5px;
}
.card.is-default {
  background: #FFF;
  color: #27282B;
}
.card.is-light {
  background: #C2F2C5;
  color: #27282B;
}
.card.is-primary {
  background: #2A8D69;
  color: #27282B;
}
.card.is-warning {
  background: #ECF241;
  color: #27282B;
}
.card.is-danger {
  background: #F26B1D;
  color: #27282B;
}
.card.is-success {
  background: #828C35;
  color: #27282B;
}

button, .button {
  background: #FFF;
  color: #27282B;
  border: 1px solid #27282B;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
button.is-default, button.is-default.is-inverted:hover, .button.is-default, .button.is-default.is-inverted:hover {
  background: #FFF;
  color: #27282B;
  border: 1px solid #27282B;
}
button.is-default:hover, button.is-default.is-inverted, .button.is-default:hover, .button.is-default.is-inverted {
  background: #27282B;
  color: #FFF;
  border: 1px solid #FFF;
}
button.is-outlined, .button.is-outlined {
  background: transparent;
}
button.is-light, button.is-light.is-inverted:hover, .button.is-light, .button.is-light.is-inverted:hover {
  background: #C2F2C5;
  color: #27282B;
  border: 1px solid #27282B;
}
button.is-light:hover, button.is-light.is-inverted, .button.is-light:hover, .button.is-light.is-inverted {
  background: #27282B;
  color: #C2F2C5;
  border: 1px solid #C2F2C5;
}
button.is-outlined, .button.is-outlined {
  background: transparent;
}
button.is-primary, button.is-primary.is-inverted:hover, .button.is-primary, .button.is-primary.is-inverted:hover {
  background: #2A8D69;
  color: #27282B;
  border: 1px solid #27282B;
}
button.is-primary:hover, button.is-primary.is-inverted, .button.is-primary:hover, .button.is-primary.is-inverted {
  background: #27282B;
  color: #2A8D69;
  border: 1px solid #2A8D69;
}
button.is-outlined, .button.is-outlined {
  background: transparent;
}
button.is-warning, button.is-warning.is-inverted:hover, .button.is-warning, .button.is-warning.is-inverted:hover {
  background: #ECF241;
  color: #27282B;
  border: 1px solid #27282B;
}
button.is-warning:hover, button.is-warning.is-inverted, .button.is-warning:hover, .button.is-warning.is-inverted {
  background: #27282B;
  color: #ECF241;
  border: 1px solid #ECF241;
}
button.is-outlined, .button.is-outlined {
  background: transparent;
}
button.is-danger, button.is-danger.is-inverted:hover, .button.is-danger, .button.is-danger.is-inverted:hover {
  background: #F26B1D;
  color: #27282B;
  border: 1px solid #27282B;
}
button.is-danger:hover, button.is-danger.is-inverted, .button.is-danger:hover, .button.is-danger.is-inverted {
  background: #27282B;
  color: #F26B1D;
  border: 1px solid #F26B1D;
}
button.is-outlined, .button.is-outlined {
  background: transparent;
}
button.is-success, button.is-success.is-inverted:hover, .button.is-success, .button.is-success.is-inverted:hover {
  background: #828C35;
  color: #27282B;
  border: 1px solid #27282B;
}
button.is-success:hover, button.is-success.is-inverted, .button.is-success:hover, .button.is-success.is-inverted {
  background: #27282B;
  color: #828C35;
  border: 1px solid #828C35;
}
button.is-outlined, .button.is-outlined {
  background: transparent;
}
/*# sourceMappingURL=krysalicss.css.map */
