@use 'sass:map';
@use 'variables' as *;
@use '../../variables';
@use '../../helper/breakpoints';

@if variables.$feature-layout-container {
  #{$selector} {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
    padding-left: $gutter;
    padding-right: $gutter;
    @if $fluid-modifier {
      @each $device, $size in variables.$responsive-breakpoints {
        @include breakpoints.deviceFrom($device) {
          max-width: $size;
        }
      }
      &#{variables.$global-prefix}#{$fluid-modifier} {
        max-width: none;
      }
    }
  }
}

