@use "../variables" as *;
@use "../../variables/feature";

@if feature.$typography-link {
  a {
    color: $link-color;
    cursor: pointer;
    text-decoration: underline;
    &:hover {
      color: $link-hover-color;
    }
  }
}