@use "sass:map";
@use "sass:list";
@use "default";

//Configurable
// Color combination will be (main color, secondary color), so in textual context, it's commonly (background, foreground)
// First in list will be default one, used in components without modifier
$combinations: (
      default: (map.get(default.$palette, white), map.get(default.$palette, black)),
      light: (map.get(default.$palette, madang), map.get(default.$palette, black)),
      primary: (map.get(default.$palette, eucalyptus), map.get(default.$palette, black)),
      warning: (map.get(default.$palette, starship), map.get(default.$palette, black)),
      danger: (map.get(default.$palette, tango), map.get(default.$palette, black)),
      success: (map.get(default.$palette, sycamore), map.get(default.$palette, black)),
) !default;

//Computed
$combinations-list: map.keys($combinations);
$combination-default: map.get($combinations, list.nth($combinations-list, 1));
