// Colors extracted from an illustration of Colin Bigelow
// Please see https://www.behance.net/gallery/56870223/Tropicana
$palette: (
  madang: #C2F2C5,
  eucalyptus: #2A8D69,
  sycamore: #828C35,
  starship: #ECF241,
  tango: #F26B1D,
  white: #FFF,
  black: #27282B,
);
