@use "sass:list";

$list: true !default;

@function _defaultValue($name) {
  @return $list == true or list.index($list, $name);
}

$layout-container: _defaultValue(layout-container) !default;
$layout-flex: _defaultValue(layout-flex) !default;
$typography-base: _defaultValue(typography-base) !default;
$typography-title: _defaultValue(typography-title) !default;
$typography-link: _defaultValue(typography-link) !default;
$typography-content: _defaultValue(typography-content) !default;
$typography-table: _defaultValue(typography-table) !default;