@use "global";

$breakpoints-divisible: 2 * 3 * 4 * 8px !default;
$breakpoints: (
  mobile: null,
  small: $breakpoints-divisible * 3,
  medium: $breakpoints-divisible * 4,
  large: $breakpoints-divisible * 5,
  xlarge: $breakpoints-divisible * 6,
  fullhd: $breakpoints-divisible * 7,
) !default;