@use "../../variables";
@use "variables" as *;
@use "sass:list";

#{$element-button-selector} {
  background: list.nth($element-button-default-combination, 1);
  color: list.nth($element-button-default-combination, 2);
  border: 1px solid list.nth($element-button-default-combination, 2);
  padding: $element-button-padding-horizontal $element-button-padding-vertical;
  border-radius: $element-button-border-radius;
  @each $label, $tuple in variables.$color-combinations {
    &#{variables.$global-prefix}#{$label},
    &#{variables.$global-prefix}#{$label}#{$element-button-inverted-selector}:hover {
      background: list.nth($tuple, 1);
      color: list.nth($tuple, 2);
      border: 1px solid list.nth($tuple, 2);
    }
    &#{variables.$global-prefix}#{$label}:hover,
    &#{variables.$global-prefix}#{$label}#{$element-button-inverted-selector} {
      background: list.nth($tuple, 2);
      color: list.nth($tuple, 1);
      border: 1px solid list.nth($tuple, 1);
    }
    &#{$element-button-outlined-selector} {
      background: transparent;
    }
  }
}