@use '../../variables';

$element-button-selector: "button, .button" !default;
$element-button-inverted-selector: "#{variables.$selector-prefix-is}inverted" !default;
$element-button-outlined-selector: "#{variables.$selector-prefix-is}outlined" !default;
$element-button-padding-horizontal: variables.$size-extra-small !default;
$element-button-padding-vertical: variables.$size-normal !default;
$element-button-border-radius: variables.$global-border-radius !default;
$element-button-default-combination: variables.$color-combination-default !default;