@use "sass:list";
@use "sass:map";
@use "../../helper/breakpoints";

@use "variables" as *;
@use '../../variables';

@if variables.$feature-layout-flex {
  #{$flex-selector} {
    flex-wrap: wrap;
    margin-left: -$column-gutter;
    margin-right: -$column-gutter;
    margin-top: -$column-gutter;
    &:last-child {
      margin-bottom: (-$column-gutter);
    }

    &:not(:last-child) {
      margin-bottom: calc(1.5rem - #{$column-gutter});
    }

    &.no-wrap {
      flex-wrap: nowrap;
    }

    &#{variables.$global-prefix}centered {
      justify-content: center;
    }

    &#{variables.$global-prefix}vertical {
      flex-direction: column;
    }

    @if list.length(variables.$responsive-breakpoints) >= 1 {
      $firstBreakPoint: list.nth(map.keys(variables.$responsive-breakpoints), 1);
      &#{variables.$global-prefix}#{$firstBreakPoint} {
        display: flex;
      }
    }
    @if list.length(variables.$responsive-breakpoints) >= $column-first-responsive-breakpoint {
      $firstResponsiveBreakPoint: list.nth(map.keys(variables.$responsive-breakpoints), $column-first-responsive-breakpoint);
      @include breakpoints.deviceFrom($firstResponsiveBreakPoint) {
        display: flex;
      }
    }

    > #{$column-selector} {
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 1;
      padding: $column-gutter;
      @if list.length(variables.$responsive-breakpoints) > 0 {

        //$firstBreakPoint: list.nth(map.keys(variables.$responsive-breakpoints), 1);

        &#{variables.$global-prefix} > #{$column-selector}#{$narrow-selector} {
          flex: none
        }
        @each $label, $value in $column-cutting {
          &#{variables.$global-prefix}#{$label} {
            flex: none;
            width: $value;
          }
          &#{$column-selector}#{$offset-prefix}#{$label} {
            margin-left: $value;
          }
        }
        @each $value in $column-divisions {
          $i: list.index($column-divisions, $value);
          &#{variables.$global-prefix}#{$i} {
            flex: none;
            width: calc(#{$i} / #{$column-divisions-length} * 100%);
          }
          &#{$offset-prefix}#{$i} {
            margin-left: calc(#{$i} / #{$column-divisions-length} * 100%);
          }
        }
      }
    }
  }
}
