@use "sass:list";
@use "sass:math";
@use '../../variables/global';

// Start selectors variables
$offset-prefix: '#{global.$prefix}offset-' !default;
$column-selector: '.col' !default;
$flex-selector: '.flex' !default;
$narrow-selector: '#{global.$prefix}narrow' !default;
// End selectors variables
$column-gutter: math.div(global.$gap, 2) !default;
$column-divisions: (one, two, three, four, five, six, seven, eight, nine, ten, eleven, twelve) !default;
$column-divisions-length: list.length($column-divisions);
$column-first-responsive-breakpoint: 2 !default;
$column-cutting: (
        full: calc(1 / 1 * 100%),
        half: calc(1 / 2 * 100%),
        one-third: calc(1 / 3 * 100%),
        two-thirds: calc(2 / 3 * 100%),
        one-quarter: calc(1 / 4 * 100%),
        three-quarters: calc(3 / 4 * 100%),
        one-fifth: calc(1 / 5 * 100%),
        two-fifths: calc(2 / 5 * 100%),
        three-fifths: calc(3 / 5 * 100%),
        four-fifths: calc(4 / 5 * 100%),
) !default;