@use "../variables";

@mixin deviceFrom($device) {
  @media screen and (min-width: map_get(variables.$responsive-breakpoints, $device)) {
    @content
  }
}

@mixin deviceUntil($device) {
  @media screen and (max-width: map_get(variables.$responsive-breakpoints, $device) - 1px) {
    @content
  }
}

$_breakpointKeys: map_keys(variables.$responsive-breakpoints);
@mixin onlyDevice($device) {
  $_nextBreakpoint: map_get(variables.$responsive-breakpoints, list.nth($_breakpointKeys, list.index($_breakpointKeys, $device) + 1));
  @if $_nextBreakpoint {
    @media screen and (min-width: map_get(variables.$responsive-breakpoints, $device)) and (max-width: $device - 1px) {
      @content
    }
  } @else {
    @include deviceFrom($device) {
      @content
    }
  }
}