@mixin defaultProperty($key, $valueVariable, $defaultValue) {
  #{$key}: $defaultValue;
  #{$key}: var(--#{$valueVariable}, #{$defaultValue});
}

@mixin textColor($colorVariable, $defaultColor) {
  @include defaultProperty("color", $colorVariable, $defaultColor);
}

@mixin backgroundColor($colorVariable, $defaultColor) {
  @include defaultProperty("background-color", $colorVariable, $defaultColor);
}