@use "../../variables";
@use "variables" as *;
@use "sass:list";

#{$module-card-selector} {
  background: list.nth($module-card-default-combination, 1);
  color: list.nth($module-card-default-combination, 2);
  padding: $module-card-gap;
  border-radius: $module-card-border-radius;
  @each $label, $tuple in variables.$color-combinations {
    &#{variables.$global-prefix}#{$label} {
      background: list.nth($tuple, 1);
      color: list.nth($tuple, 2);
    }
  }
}