@use '../../variables';

$module-card-selector: ".card" !default;
$module-card-gap: variables.$global-gap !default;
$module-card-border-radius: variables.$global-border-radius !default;
$module-card-default-combination: variables.$color-combination-default !default;