@use 'sass:list';

@use "../variables" as *;
@use "../../variables";
@use "../../variables/feature";

@function _repeat($string, $times) {
  $content: $string;
  @for $_ from 1 to $times {
    $content: $content + $string;
  }
  @return $content;
}

@if feature.$typography-content {
  .content {
    p,
    dl,
    ol,
    ul,
    blockquote,
    pre,
    table {
      &:not(:last-child) {
        margin-bottom: 1em
      }
    }
    ol, ul {
      list-style-position: outside;
      margin-left: variables.$global-gap * 2;
    }
    @for $i from 0 to list.length($content-ul-styles) {
      #{_repeat("ul ", $i+1)}{
        list-style-type: list.nth($content-ul-styles, $i+1);
      }
    }
  }
}