@use "sass:map";
@use "../variables/default";
@use "../variables/global";

//Configurable
$default-color: map.get(default.$palette, black) !default;
$family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$family-monospace: monospace !default;
$base-size: 16px !default;
$sizes: (2.5rem, 1.75rem, 1.25rem, 1rem, 0.75rem, 0.5rem) !default;

//Computed

// Forward
@forward "title/variables" as title-* with ($sizes: $sizes);
@forward "base/variables" as base-* with (
  $base-size: $base-size,
);

@forward "link/variables" as link-* with (
  $default-color: $default-color,
);

@forward "table/variables" as table-* with (
  $gap: global.$gap,
);

@forward "content/variables" as content-* with (
  $default-color: $default-color,
);
