@use 'variables' as *;

:root {
  @if $isDefault {
    @each $label, $value in $variables {
      --#{"" + $label}: #{$value};
    }
  }
  @if $rootWhen {
    @media ($rootWhen) {
      @each $label, $value in $variables {
          --#{"" + $label}: #{$value};
      }
    }
  }
}

@if $modifierClass {
  #{$modifierClass} {
    @each $label, $value in $variables {
      --#{"" + $label}: #{$value};
    }
  }
}
