@use 'sass:meta';
@use 'sass:list';
@use 'sass:map';

@use "../variables" as *;
@use "../../variables/feature";

@if feature.$typography-title {
  @each $label, $args in $title-levels {
    #{$label} {
      @if meta.type-of($args) == 'list' {
        $length: list.length($args);
        @if $length >= 1 {
          font-size: list.nth($args, 1);
        }
        @if $length >= 2 {
          font-weight: list.nth($args, 2);
        }
        @if $length >= 3 {
          color: list.nth($args, 3);
        }
      } @else if meta.type-of($args) == 'map' {
        @if map.has-key($args, size) {
          font-size: map.get($args, size);
        }
        @if map.has-key($args, weight) {
          font-weight: map.get($args, weight);
        }
        @if map.has-key($args, color) {
          color: map.get($args, color);
        }
      } @else {
        font-size: $args;
      }
    }
  }
}
