@use "../variables" as *;
@use "../../variables/feature";

@if feature.$typography-base {
  html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: $base-body-size;
    text-rendering: $base-render-mode;
    color: $default-color;
  }

  body, button, input, select, textarea {
    font-family: $family-sans-serif;
  }
}
