@use 'sass:meta';
@use 'sass:list';
@use 'sass:map';

@use "../../variables" as *;
@use "variables" as *;

@if $feature-typography-table {
  #{$selector} {
    td, th {
      padding: $gutter;
    }
    vertical-align: top;
  }
}
